@tailwind base;
@tailwind components;
.line {
  @apply col-span-4 m-5;
}
.line button {
  border-radius: 64px;
  background: linear-gradient(315deg, #d4dbe6, #fbffff);
  box-shadow: -2px -2px 0px #d4dbe6,
              2px 2px 0px #ffffff;
  @apply  py-2  rounded-full text-xl   w-20 font-thin;
}

.btn-w41 {
  @apply  py-2  rounded-full  text-xl   w-41 font-thin !important;
}

.line button:active {
  border-radius: 64px;
  background: #ebf3ff;
  box-shadow: inset -2px -2px 0px #ffffff,
              inset 1px 0px 0px #d4dbe6;
  @apply  py-2 rounded-full  text-xl 
   w-20 font-thin;
}
.line input {
  @apply border  text-blue-300 text-right text-2xl outline-none w-full rounded;
}
.line input:focus {
  @apply border-blue-400  text-blue-300 text-right text-2xl outline-none w-full rounded;
}
@tailwind utilities;
