body{
	background: lightpink;
}
#top {
	width: 100%;
	font-size: 12px;
	background: #DC143C;
}

.top_in {
	width: 978px;
	height: 40px;
	margin: 0 auto;
}

#top img{
	width: 40px;
	height: 40px;
	line-height: 40px;
}

#top ul{
	width: 898px;
	height: 40px;
	margin: 0;
	padding-left: 130px;
	list-style: none;
}

#top li {
	float: left;
}

#top ul li a {
	line-height: 40px;
	font-size: bold;
	margin: 0 10px;
	color: white;
	text-decoration: none;
}

#top ul li a:hover {
	color: blue;
}
#main{
	width: 100%;
	display: flex;
	justify-content: row;
	align-items:flex-start;
}
#left img {
	width: 100%;
	
}
#left{
	margin: 0 auto;
	margin-top: 10px;
	width: 200px;
}
#left a{
	line-height: 40px;
	font-size: bold;
	margin: 0 10px;
	color: red;
	text-decoration: none;
}
#left a:hover {
	color: blue;
}

#center{
	margin: 10px ;
	height: 533px;
	background: #FFFFFF;
	color: crimson;
}
#right{
	margin: 10px ;
	background: #FFFFFF;
}
#right img{
	width: 90%;
	height: 90%;
}
#center h2{
	background: crimson;
	font-family: "book antiqua";
	color: white;
	margin-top: 0;
	width: 100%;
	height: 50px;
}
#right h2{
	background: crimson;
	font-family: "book antiqua";
	color: white;
	margin-top: 0;
	width: 100%;
	height: 50px;
}