#center img{
	width: 200px;
	height: 200px;
}
#center .yx{
	width: 70%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
}
#center .tp{
	width: 25%;
	height: 25%;
	margin: 0px;
	padding: 10px;
	float: left;
}